footer{
    display: flex;
    background: #007bff;
    justify-content: center;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 80px;
    margin: 0;
}
li{
    list-style: none;
    color: white;
    font-size: 16px;
    padding: 7px 0;
    text-underline-offset: 3px;
}

.li-main{
    font-size: 21px;
    font-weight: bold;
    padding: 0 0 10px 0;
}
.li-wrap{
    min-width: 300px;
    width: calc(25% - 40px * 3 / 4);
    margin-bottom: 45px;
}

@media screen and (max-width: 850px){
    .li-wrap{
        min-width: initial;
        width: 100%;
    }
    ul{
        padding: 20px;
    }
    .li-main{
        padding: 0;
    }
    .li-wrap:last-child{
        margin-bottom: 25px;
    }
}