<footer>
    <ul>
        <div class="li-wrap">
            <li class="li-main">Support</li>
            <li class="li">Email: support@shopveloce.co</li>
            <li class="li">Phone: +1 (347) 680-7676</li>
            <li class="li">Work Hours: 24/7</li>
        </div>
        <div class="li-wrap">
            <li class="li-main">Our Story</li>
            <li style="line-height: 33px;" class="li">Here at Veloce, our goal is to deliver top quality products at an affordable price. Our VIP membership is here to help you save money and enjoy new product every month!</li>
        </div>
        <div class="li-wrap">
            <li 
            (click)="backToTop()"
            class="li-main"
            style="text-decoration: underline; cursor: pointer;">Back to the top</li>
        </div>
    </ul>
</footer>