  input, select, .form-label, img, button {
    user-select: none;
    -webkit-user-select: none;
  }
  .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    }
    .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    }
    .StripeElement--invalid {
    border-color: #fa755a;
    }
    .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
    }
    .stripe{
    width: 400px;
    }
    .div{
      width: 400px;
    }


    
    main{
      display: flex;
      justify-content: center;
      position: relative;
    }

    .left{
      height: max-content;
      position: sticky;
      top: 0;
    }
    
    .right{
      position: relative;
      width: 45%;
      
      background-color: #fafafa;
    }
    .right-wrap{
      height: max-content;
      position: sticky;
      top: 0;
      padding: 30px;
      box-sizing: border-box;
    }

    /* items */
    .item{
      max-width: 500px;
      display: flex;
      align-items: center;
      padding: 22px 0 12px 0;
      border-bottom: 1px solid rgb(230, 230, 230);
    }
    .item:first-child{
      padding-top: 0;
    }
    .item:last-child{
      border: none;
    }
    .item-img{
      position: relative;
      border-radius: 4px;
      border: 1px solid rgb(212, 212, 212);
      min-width: 64px;
      min-height: 64px;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
    }
    .item-img img{
      width: 40px;
      border-radius: 4px;
    }
    .item-amount{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: -8.5px;
      top: -8.5px;
      font-size: 11px;
      color: white;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #007bff;
    }

    /* text */

    .text-wrap{
      display: flex;
      justify-content: space-between;
      padding: 0 20px 0 20px;
      font-size: 15px;
      width: 100%;
    }
    
    .item-name{
      margin-bottom: 5px !important;
      font-weight: 500;
      color: rgb(64, 64, 64);
    }
    .item-text-span{
      display: block;
      margin-bottom: 3px;
    }
    .item-custom{
      font-size: 12px;
      color: grey;
    }
    .item-price{
      padding-left: 20px;
      color: rgb(37, 36, 36);
    }
    /* overall */

    .overall-info{
      margin-top: 40px;
      padding-top: 10px;
      width: 500px;
      border-top: 1px solid rgb(219, 219, 219);
    }
    .dataset{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .dataset.total{
      border-top: 1px solid rgb(219, 219, 219);
      margin-top: 10px;
      padding: 10px 0;
      border-bottom: 1px solid rgb(219, 219, 219);
    }
    .dataset.total span{
      font-size: 17px;
    }
    .dataset-field{
      
    }
    .dataset-value{
      font-weight: 500;
      color: rgb(43, 43, 43);
    }
    .dataset span{
      padding: 7px 0;
      display: block;
      font-size: 14px;
    }




    .left{
      width: 55%;
      padding: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    .left-wrap{
      width: max-content;
    }

    .header{
      margin: 0;
      padding-bottom: 20px;
    }
    
    .payment-form {
      background-color: white;
      width: 500px;
      max-width: 500px;
      min-width: 300px;
      height: max-content;
      padding: 15px 0 0 0;
      border-radius: 3px;
      /* box-shadow: 0 0px 3px 0 rgb(0, 0, 0, .14), 0 1px 2px -1px rgb(0, 0, 0, .1) */
    }
      .form-label {
        display: block;
        font-size: 13px;
        color: #1A1A1AB2;
        margin: 0 0 4px 0;
        font-weight: 500;
      }
      .error{
        font-size: 11px;
        color: red;
        padding-top: 4px;
      }
      
      .wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px 0 5px 0;
        position: relative;
      }
      input{
        width: 100%;
      }
      select{
        width: 100%;
        margin: 5px 0 0 0;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid rgb(228, 228, 228);
        outline: none !important;
        color: rgb(164, 164, 164);
      }
      .cardnumwrap{
        display: flex;
        align-items: center;
      }
      .visa-img{
        height: 25px;
        right: 0;
        top: 18.6px;
        width: min-content;
      }
      .twowrap{
        flex-direction: row;
        justify-content: space-between;
      }
      .expiry-cvc-wrap{
        width: calc(50% - 5px);
      }

      .stripe-card {
        width: 100%;
        border-radius: 3px;
      }
      .stripe-card-input{
        border: none !important;
        outline: none !important;
        font-size: 13px;
        color: #31325F;
        display: inline-block;
        padding: 5px;
        border-radius: 3px;
        border-bottom: 1px solid rgb(239, 239, 239) !important;
      }
      ::placeholder {
        color: #d4dbe4; 
        font-size: 15.5px;
      }
      
      .pay-button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 25px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      
      .pay-button:hover {
        background-color: #0056b3;
      }
      