<main>
    <section class="left">
        <div class="big-image">
            <img src="https://e7.pngegg.com/pngimages/758/778/png-clipart-pocket-watch-chronograph-watch-watch-accessory-accessories.png" alt="">
        </div>
        <div class="small-images">
            <div class="small-image-wrap">
                <img src="https://e7.pngegg.com/pngimages/758/778/png-clipart-pocket-watch-chronograph-watch-watch-accessory-accessories.png" alt="">
            </div>
            <div class="small-image-wrap">
                <img src="https://e7.pngegg.com/pngimages/758/778/png-clipart-pocket-watch-chronograph-watch-watch-accessory-accessories.png" alt="">
            </div>
            <div class="small-image-wrap">
                <img src="https://e7.pngegg.com/pngimages/758/778/png-clipart-pocket-watch-chronograph-watch-watch-accessory-accessories.png" alt="">
            </div>
            
        </div>
    </section>
    <section class="right"></section>
</main>