main{
    display: flex;
    padding-top: 30px;
}
.left, .right{
    width: 50%;
}
.left{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-image-wrap{
    /* background-color: red; */
    display: flex;
    height: 70vh;
    max-height: 70vh;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;
}
.zoomed{
    transform: scale(2);
}

/* small */
.small-images{
    height: calc(25vh - 30px);
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.small-image-wrap{
    margin: 0 5px 5px 5px;
    padding: 25px 15px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: all 300ms, border-color 0s;
    box-shadow: 0 0 10px rgb(221, 220, 220);
}

.small-image-wrap.selected{
    transform: translateY(-10px);
    border: 2px solid var(--mainColor);
    border-radius: 7px;
}
.small-image-wrap img{
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}


/* right */
h1, h5{
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
}
.trusted{
    margin: 0;
    color: #585858;
    font-weight: 100;
}
.title{
    margin: 18px 0 12px 0;
    font-size: 52px;
    color: rgb(53, 53, 53);
    /* background: linear-gradient(to top, black, rgb(109, 108, 108));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    box-decoration-break: clone; */
    /* -webkit-box-decoration-break: clone; */
}
.price-wrap{
    padding-bottom: 10px;
}

.price{
    font-size: 19px;
    color: var(--mainColor);
}
.right{
    padding: 0 0 0 50px;
}
.low-price{
    /* transform: translateY(-5px); */
    margin-right: 9px;
    display: flex;
    align-items: center;
}
.old-price{
    font-size: 17px;
    position: relative;
    color: rgb(53, 53, 53);
    text-decoration: line-through;
}
.secured{
    color: #585858;
    margin: 10px 0;
}

.preferences{
    padding: 10px 0;
}
.preference-name{
    margin: 0 0 12px 0;
    color: #585858;
}
.preferences-wrap{
    display: flex;
}
.preference{
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--mainColor);
    color: white;
    border: none;
    margin-right: 10px;
}

/* .old-price::before{
    content: "";
    width: calc(100%);
    height: 2.5px;
    background-color:black;
    position: absolute;
    top: 10.5px;
} */
.price-wrap,.button-wrap{
    display: flex;
}


.ratings-wrap{
    margin: 0 0 20px 0;
    width: max-content;
    display: flex;
    align-items: center;
}
.star-wrap{
    position: relative;
}
.ratings{
    font-size: 15.5px;
    font-weight: normal;
    padding-left: 7px;
}

.starIcon, .lastStar{
    color: var(--mainColor);
    font-size: 18px;
}
.lastStar{
    /* width: 50%; */
    position: absolute;
    background-color: white;
    right: 0;
    width: 10px;
    overflow: hidden;
    transform: scaleX(-1) translate(0px, .7px);
}



.single-items-wrap{
    padding-top: 50px;
}

.offer-button{
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    color: white;
    background: rgb(92, 225, 230);
}





::-webkit-scrollbar {
  height: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 123, 0);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(234, 115, 4);
}