main{
    display: flex;
}
.left, .right{
    width: 50%;
}
img{
    width: 100%;
}
.big-image{
    background-color: red;
}
/* small */
.small-images{
    padding-top: 7px;
    display: flex;
}
.small-image-wrap:nth-child(1),
.small-image-wrap:last-child{
    padding: 0 !important;
}

.small-image-wrap{
    padding: 0 7px;
}
.small-image-wrap img{
    width: 150px;
    border: 2px solid orange;
    border-radius: 4px;
    transition: transform 300ms;
}
.small-image-wrap img:hover{
    border-top: none;
    border-radius: 0 0 4px 4px;
    transform: translateY(-7px);
}