<section class="banner" >
    <div class="b-image-wrap">
        <img class="background-image" #banner src="https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
        
        
        <div class="text-wrap" >
            <h1 class="bigtext">New Collection!</h1>
            <span class="smalltext">30% Discount</span>
        </div>
        <img #banner class="ad-image two" src="https://img.freepik.com/premium-vector/90-s-retro-y2k-png-sublimation-design-vector-t-shirt-design_590185-322.jpg?w=2000" alt="">
        <img #banner class="ad-image one" src="https://content-management-files.canva.com/cdn-cgi/image/f=auto,q=70/2fdbd7ab-f378-4c63-8b21-c944ad2633fd/header_t-shirts2.jpg" alt="">
    </div>
</section>