<section class="banner" >
    <div class="b-image-wrap">
        <img class="background-image" #banner src="https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
        
        <img class="ad-image" src="" alt="">
        <div class="text-wrap" #banner>
            <h1 class="bigtext">New Collection!</h1>
            <span class="smalltext">30% Discount</span>
        </div>
    </div>
</section>