main{
    margin: 30px 0;
    padding: 15px;
}
.reviews-top-main-wrap{
    display: flex;
    justify-content: space-between;
}
.r-main{
    display: flex;
    align-items: center;
}
.r-box{
    min-width: 75px;
    min-height: 75px;
    border-radius: 3px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.r-box-h4,
.r-box-h6 {
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.r-box-h4{
    font-size: 32px;
}


/* stars */
.stars-wrap{
    min-width: 120px;
}

.r-stars-main{
    padding-top: 35px;    
}
.review-row{
    display: flex;
    align-items: center;
    margin: 0 0 7px 0;
}
.star-icon{
    padding: 0 3px;
    font-size: 14px;
}
.review-span{
    display: block;
    padding-left: 8px;
}
.review-line{
    border-radius: 5px;
    width: 200px;
    background: #f1f1f1;
    height: 6px;
    margin: 4px 0 0 5px;
    position: relative;
}
.review-line::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4%;
    background: black;
    border-radius: 5px 0 0 5px;
}
.review-row:nth-child(1) > .review-line::before{
    width: 84%;
}
.grey{
    color: #edecec;
}

.write-r{
    border-radius: 5px;
    background: black;
    border: none;
    padding: 8px 12px;
}
.write-r-span{
    color: white;
    font-size: 17px;
}

/* grid */

.grid-main{
    display: flex;
    overflow: auto;
    gap: 20px;
    padding: 70px 15px 0 15px;
}
.card{
    position: relative;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 23px;
    box-shadow: 0 2px 10px rgb(228, 228, 228);
}
.card-wrap{
    min-width: 350px;
    width: 350px;
    /* margin: 5px; */
}

.reviewer-info{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.reviewer-icon{
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    background: #007bff;
    color: white;
    width: 16px;
    height: 16px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}
.reviewer-image-wrap{
    border-radius: 50%;
    background: #F0F2F5;
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    padding-top: 2px;
    align-items: center;
    justify-content: center;
}
.reviewer-image{
    font-size: 20px;
    display: grid;
    place-content: center;
}
.reviewer-name{
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    margin: 0;
}
.reviewer-flag{
    max-height: 12px;
}

.card-stars{
    border-radius: 15px;
    padding: 3px 12px 4px 12px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
    background: white;
    box-shadow: 0 0 18px rgb(228, 228, 228);
}
.card-star-icon{
    color: #007bff;
    margin: 0 3px;
    font-size: 14px;
}

.date{
    color: #a3a3a3;
    display: block;
    padding-top: 15px;
    font-size: 13px;
}

@media screen and (max-width: 800px){
    .reviews-top-main-wrap{
        flex-direction: column;
        align-items: center;
    }
    .r-right-main{
        padding-top: 35px;
    }
}
@media screen and (max-width: 450px){
    .review-line{
        width: 100%;
    }
    .r-left-main{
        width: 100%;
    }
}

@media screen and (max-width: 250px){
    .review-line{
        display: none;
    }
    .review-row{
        justify-content: space-between;
    }
}

  ::-webkit-scrollbar {
    height: 7px;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #036ddf;
  }
  