<main>
    <div class="reviews-top-main-wrap">
        <div class="r-left-main">
            <div class="r-main">
                <div class="r-box">
                    <div class="r-box-inner">
                        <h4 class="r-box-h4">4.6</h4>
                        <h6 class="r-box-h6">Out of 5</h6>
                    </div>
                </div>
                <div class="based-on-text">
                    Based on 32 reviews
                </div>
            </div>
            
            <div class="r-stars-main">
                <div class="review-row">
                    <div class="stars-wrap">
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                    </div>
                    <div class="review-line"></div>
                    <div class="review-span">(23)</div>
                </div>
                <div class="review-row">
                    <div class="stars-wrap">
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                    </div>
                    <div class="review-line"></div>
                    <div class="review-span">(1)</div>
                </div>
                <div class="review-row">
                    <div class="stars-wrap">
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                    </div>
                    <div class="review-line"></div>
                    <div class="review-span">(1)</div>
                </div>
                <div class="review-row">
                    <div class="stars-wrap">
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                    </div>
                    <div class="review-line"></div>
                    <div class="review-span">(1)</div>
                </div>
                <div class="review-row">
                    <div class="stars-wrap">
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon grey" [icon]="star"></fa-icon>
                        <fa-icon class="star-icon" [icon]="star"></fa-icon>
                    </div>
                    <div class="review-line"></div>
                    <div class="review-span">(1)</div>
                </div>
            </div>
        </div>
        <div class="r-right-main">
            <button class="write-r">
                <span class="write-r-span">
                    Write a review
                </span>
            </button>
        </div>
    </div>
</main>