:root{
    --mainColor: black;
}
body{
    margin: 0;
}
*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.twelve{
    max-width: 1100px;
    margin: auto;
}