<main>
    <app-banner></app-banner>
    <div class="f-t-wrap">
        <h1 class="featured">Featured Collection</h1>
    </div>
    <ul>
        <li *ngFor="let item of items" [routerLink]="['item', item['id']]">
            <section>
                <div class="item-img-wrap">
                    <img class="item-img" [src]="item['selectedVariation']['variationImage']"> 
                </div>
                <div class="bottom-wrap">
                    <div class="span-wrap">
                        <span class="name">{{item.name}}</span>
                        <span class="price">${{item.price.toFixed(2)}}</span>
                    </div>
                    <div class="shopnow-wrap">
                        <h5 class="shopnow">SHOP NOW</h5>
                    </div>
                </div>
            </section>
        </li>
    </ul>
</main>